@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}
